## Lists of List

In [7]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [8]:
# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

In [9]:
house

[['hallway', 11.25],
 ['kitchen', 18.0],
 ['living room', 20.0],
 ['bedroom', 10.75],
 ['bathroom', 9.5]]

In [ ]:
# Print out house
print(house)

## Subsetting of Lists

In [10]:
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]

In [11]:
fam[1]

1.73

In [14]:
fam[-1]

1.89

In [15]:
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]

In [17]:
fam[3]

1.68

In [18]:
fam[4]

'mom'

In [19]:
fam[5] # This not inclusive.

1.71

In [20]:
My_list_new = fam[3:5]

In [35]:
fam[:]

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [39]:
fam[1:]

[1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [31]:
fam[2:5]

['emma', 1.68, 'mom']

In [21]:
My_list_new

[1.68, 'mom']

In [24]:
fam[:1]

['liz']

In [25]:
fam[1:]

[1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [29]:
fam[-4]

'mom'

In [ ]:
# Last 3rd Last Element

# Indexing on a list

## Suppose you want to select height of emma

In [40]:
fam[3]

1.68

## Find the keyword dad from the list above ?

## Negative indexes

In [ ]:
fam[-1] # This gives us the last element of the index

In [ ]:
fam[-4]

In [42]:
fam[:]

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [43]:
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [44]:
fam[2:]

['emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [ ]:
fam

In [ ]:
fam[5:]

In [ ]:
fam[:2]

# Subset and Conquer

## Create the areas list

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

### Print out second element from areas

In [ ]:

print(areas[_])

### Print out last element from areas

In [ ]:

print(areas[__])

### Print out the area of the living room

In [ ]:

print(areas[_])

# Subset and calculate

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

### Sum of kitchen and bedroom area: eat_sleep_area

### Print the variable eat_sleep_area

##  Slicing and Dicing

In [ ]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[0:6]

# Use slicing to create upstairs
upstairs = areas[6:10]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

### Introduction to Turtle

In [1]:
import turtle

In [2]:
mt = turtle.Turtle()
mt.shape("turtle")
mt.color("blue")

In [4]:
turtle.forward(100)
turtle.color("blue")

In [4]:
mt.reset()

In [5]:
mt.clear()

In [6]:
mt.forward(100)
mt.color("blue")